<% content_for(:title) { "E2E Status | Manage Recalls | PPUD Replacement" } %>

<div class="gridster ready">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="manage-recalls-e2e-result-prod" data-view="ManageRecallsE2eResult" data-title="prod"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="5">
      <div data-id="manage-recalls-e2e-result-dev" data-view="ManageRecallsE2eResult" data-title="dev"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="5">
      <div data-id="manage-recalls-e2e-result-preprod" data-view="ManageRecallsE2eResult" data-title="preprod"></div>
    </li>
  </ul>
</div>
